.hkTitle{
    font-family: Gilroy;
    font-weight: 800;
    font-size: 26px;
    line-height: 31.85px;
}
.hkDescription{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */


    color: #3C3C3C;
}
.mainHeader{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5em;
    margin-top: 24px;
    margin-bottom: 24px;

    color: #6B6B6B;
}